aside {
  height: 16vh;
}

#left {
  height: 14vh;
}

#right {
  height: 14vh;
}

#leftBlocks li {
  display: inline-block;
  height: 32vh;
}

#rightBlocks li {
  display: inline-block;
  height: 32vh;
}

footer {
  height: 7vh;
}

@media only screen and (min-width: 800px) {

  header {
    height: 12vh;
  }

  aside {
  float: left;
  width: 20%;
  height: 100vh;
  }

  #blocks {
    float: right;
    width: 79.5%;
    height: 80vh;
  }

  #left {
    margin: 0;
    width: 49%;
    padding-right: .3vw;
    height: 30vh;
    float: left;
  }

  #right {
    margin: 0;
    width: 49%;
    padding-left: .4vw;
    height: 30vh;
    float: right;
  }

  #leftBlocks ul {
    width: 49vw;
  }

  #rightBlocks ul {
    width: 49vw;
  }

  #leftBlocks li {
    display: inline-block;
    height: 50vh;
    width: 24%;
    padding-left: 1vw;
    padding-right: 1.5vw;
    margin-left: -3vw;
    float: left;
  }

  #rightBlocks li {
    display: inline-block;
    height: 50vh;
    width: 26%;
    float: right;
  }

  footer {
    float: right;
    width: 79.5%;
    height: 20vh;
  }

}
